<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">Add a new project to get funded!</h3>
  </div>
  <div class="card-body">
    <div>
      <label>Project Name:</label>
      <br>
      <input #newName>
    </div>

    <div>
      <label>Project Owners (separate with commas):</label>
      <br>
      <input #newStarters>
    </div>
    <div>
      <label>Brief Summary:</label>
      <br>
      <input #newSummary>
    </div>
    <div>
      <label>Main Description:</label>
      <br>
      <textarea #newDescription></textarea>
    </div>
    <div>
      <label>Goal (amount of money you wish to raise):</label>
      <br>
      <input type="number" #newGoal min=1 required>
    </div>
    <div>
      <label>Rewards (what people get if they contribute):</label>
      <br>
      <input #newReward>
    </div>
    <br>

    <button class="btn btn-success" (click)="submitForm(newName.value, newStarters.value, newSummary.value, newDescription.value, newGoal.value, newReward.value)">Submit</button>

  </div>

</div>
