<div class="card">
<h4>Edit Project</h4>
  <label>Name:</label>
  <input [(ngModel)]="currentProjectObject.name">
  <label>Owners:</label>
  <input [(ngModel)]="currentProjectObject.starters">
  <label>Project Details: </label>
  <input [(ngModel)]="currentProjectObject.description">
  <label>Fundraising Goal:</label>
  <input [(ngModel)]="currentProjectObject.goal">
  <label>Reward for contributing: </label>
  <input [(ngModel)]="currentProjectObject.rewards">
</div>

<button class="btn btn-success" (click)="updateProjectInDatabase(currentProjectObject)">Save</button>
