<div class="card">
  <h2>{{(projectToDisplay | async)?.name}}</h2>
  <h4>By {{(projectToDisplay | async)?.starters}}</h4>
  <p>Project Details: {{(projectToDisplay | async)?.description}}</p>
  <p>Fundraising Goal: ${{(projectToDisplay | async)?.goal}}</p>
  <p>Reward for contributing: {{(projectToDisplay | async)?.rewards}}</p>
</div>
<button class="btn btn-success" (click)="editCurrentProject()">Edit</button>

<app-project-edit *ngIf="showEditForm" [selectedProject]="projectToDisplay"></app-project-edit>
